<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>

    <%- include("./partials/nav.ejs") %>

    <div class="messages content">
        <h2>All Messages</h2>

        <% if (messages.length > 0) { %>
            <% messages.forEach((message, index) => { %>

                <h3 class="title"><%= message.title %></h3>
                <h4 class="user">By <%= message.user %> on <%= message.added %></h4>

                <a href="/message/<%= index %>" class="button">Details</a>

            <% }) %>
        <% } else { %>
            <p>There are no messages to display.</p>
        <% } %>
    </div>

</body>
</html>